body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
    background-color: rgb(224, 224, 235);
}
.logo{
    text-align: center;
    font-size: 20px;
    margin-top: 130px;
    font-family:monospace;
    color: rgb(42, 98, 172);
    
    
}
.center{
    position:sticky;
    text-align: center;
    background: white;
    left: 50%;
    top:50%;
    transform: translate(-50%, 0%);
    width: 400px;
    border-radius: 10px;
    
    
}
.center h3{
    font-family:cursive;
    padding-top: 10px;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;

}

.pass input{
    width: 75%;
    height: 28px;
    margin: 7px;
}
#submit{
    margin-top: 8px;
    width: 77%;
    height: 33px;
    background: rgb(42, 98, 172);
    color: white;
    font-size: 19px;
    font-family:monospace;
    border-radius: 5px;

}
.forgot{
    margin-top: 8px;
}
.forgot a{
    text-decoration: none;
   color: black;
   margin: 5px;
}
.signup{
    margin: 3px;
}
.signup a{
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(37, 88, 155);
    font-style:inherit;

}
#submit:hover{
    font-size: 21px;
}
.space p{
    color:white;
    margin-top: 1px;
    text-align: end;
}
